body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    font: 14px Verdana, Helvetica, sans-serif;
}

.clear {
    float: none;
    clear: both;
    height: 0;
    font-size: 0;
}

a, a:visited, a:hover {
    color: black;
}

h1, h2, h3, h4, h5 {
    color: #84408C;
}

#left img {
    display: block;
    margin: 0 auto;
}

#left .caption {
    color: #84408C;
    text-align: center;
}

#left {
    float: left;
    padding-top: 5px;
    border-right: 1px solid #84408C;
    width: 200px;
}

#left ul {
    list-style: none;
    padding: 0;
}

#left ul li ul li a {
    padding-left: 20px;
}


#left a, #left a:visited {
    display: block;
    width: 150px;
    padding: 2px;
}

#left a:hover, #left a.active {
    background-color: #DDDDDD;
}

#right {
    float: right;
    overflow: auto;
}

#right img {
    display: block;
    margin: 10px;
}

#right .inner {
}

table {
    border: 0;
}

table td {
    border-bottom: 1px solid #84408C;
    padding: 2px;
    margin: 0;
}

.syntaxhighlighter {
    float:left;
    margin: 20px 0 ;
}

.methods .syntaxhighlighter {
    float: none;
}

.syntaxhighlighter td {
    border: none;
}

.methods td {
    vertical-align: top;
}
.methods th {
    color: white;
    background-color: #84408C;
}

.methods .params {
    font-style: italic;
}

.methods .params td {
    border: 0;
}

.methods .type {
    color: #84408C;
}

.methods .params .pname, .methods .method span {
    color: #A4A08C;
}

.methods .annotation span {
    color: #A4A08C;
    font-style: italic;
    font-weight: bold;
}
