body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    font: 14px Verdana, Helvetica, sans-serif;
}

.clear {
    float: none;
    clear: both;
    height: 0;
    font-size: 0;
}

a, a:visited, a:hover {
    color: black;
}

h1, h2, h3, h4, h5 {
    color: #84408C;
}

h1 a, h2 a, h3 a, h4 a, h5 a,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited {
color: #84408C;
}

#top {
    background-color: #84408C;
    color: white;
    font-size: 16px;
}

#top a, #top a:visited, #top a:hover {
    color: white;
    text-decoration: none;
}

#top li {
    cursor: pointer;
}

#top li.active {
    background-color: #60246E;
}

#top ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#top ul li {
    float: left;
    padding: 5px;
    border-right: 1px solid white;
}

#top ul li ul {
    display: none;
    float:left;
    margin: 5px 0 0 -5px;
    position: absolute;
    background-color: #84408C;
}

#top ul li ul li {
    float: none;
    padding: 5px 10px;
    font-size: 14px;
    border: 0;
}

#top .searchblock {
    float: right;
    margin-right: 10px;
    line-height: 28px;
}

#top .searchblock form {
    display: inline;
}

#top .searchblock input {
    border: 1px solid #60246E;
}

#right {
    padding: 0 10px;
    overflow: auto;
}

#right .inner {
}

table {
    border: 0;
}

table td {
    border-bottom: 1px solid #84408C;
    padding: 2px;
    margin: 0;
}

.syntaxhighlighter {
    float:left;
    margin: 20px 0;
    white-space: nowrap;
    font-size: 14px;
}

.methods .syntaxhighlighter {
    float: none;
}

.syntaxhighlighter td {
    border: none;
}

.methods td {
    vertical-align: top;
}
.methods th {
    color: white;
    background-color: #84408C;
}

.methods .params {
    font-style: italic;
}

.methods .params td {
    border: 0;
}

.methods .type {
    color: #84408C;
    white-space: nowrap;
}

.methods .params .pname, .methods .method span {
    color: #A4A08C;
}

.methods .method {
    white-space: nowrap;
}

.attributes .method {
    color: #84408C;
}

.methods .annotation span {
    color: #A4A08C;
    font-style: italic;
    font-weight: bold;
}


#right .searchblock {
    font-size: 12px;
    color: black;
    font-style: italic;
    padding-bottom: 10px;
}

#right .searchblock strong {
    font-size: 14px;
}

#right .searchblock-count {
    color: #84408C;
}

.hidden {
    display: none;
}

.error {
    color: red;
}
input.error {
    color: black;
    border: 1px solid red;
    background-color: #FFAAAA;
}

.message {
    position: fixed;
    width: 200px;
    text-align: center;
    padding: 20px;
    display: none;
}
.message.success {
    background-color: green;
    color: white;
}
.message.warning {
    background-color: yellow;
    color: black;
}
.message.error {
    background-color: red;
    color: white;
}
